
body{

    background: linear-gradient(270deg,#f5eded,#ebe7e7 80%);
    

}

#website_name_developer_name {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 0px;
    left: 170px;
}

#website_name {
    display: block;
    margin-top: 120px;
    margin-left: 100px;
    width: 600px;
    font-size: 60px;
    border-radius: 9px;
    color: rgb(255, 0, 0);
}

#developer_name {
    display: block;
    margin-top: 50px;
    margin-left: 50px;
    padding: 10px 20px;
    border-radius: 9px;
    color: green;
    font-size: 25px;
}

#developer_image{
    position: absolute;
    border-radius: 9px;
    width: 300px;
    height: 300px;
    top: 100px;
    left: 700px;
}


#Overview{
    position: absolute;
    width: 500px;
    height: 400px;
    top: 600px;
    left: 170px;
    font-size: 40px;
   
   
   }
   
     
#Video{
    position: absolute;
    width: 400px;
    height: 400px;
    top: 1000px;
    left: 170px;
    font-size: 40px;
   
    
    
    }
    
#Outcome{
    
    position: absolute;
    width: 800px;
    height: 400px;
    top: 1100px;
    left: 170px;
    font-size: 40px;
    
    }
    
    
#About{
    position: absolute;
    width: 1000px;
    height: 400px;
    top: 1300px;
    left: 170px;
    font-size: 40px;
     
     
     
     }
  
.section{

  font-size: 24px;
}

.developer_image{
    width: 400px;
    height: 200px;
    top: 600px;
    left: 10px;
    font-size: 40px;
    

}
